.btn-circle.btn-xl {
    width: 150px;
    height: 45px;
    padding: 10px 15px;
    border: 2px solid white;
    border-radius: 40px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: white;
}

h5 {
    color: white;
    text-align: center;
    display: inline-flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.navigation-bar {
    height: 100px;
}

.container {
    margin-top: 20px;
    width: 100%;
    height: fit-content;
    top: 25vh;
    justify-content: center; 
    position: relative;
    bottom: 0;
}

.bar {
    background: steelblue;
    position: relative;
    display: inline-flex;
    width: 20px;
    margin: 0 1px;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    transition: .2s all ease;
}

.bar-label {
    position: absolute;
    top: -30px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    transform: rotate(-90deg);
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 75px;
    width: 100%;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
}